* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

    margin:0;

    font-family:'Poppins',sans-serif;

    color:var(--dark);

    background-color:#FCFBF9;

    background-image:

        radial-gradient(circle at top right,
        rgba(201,162,39,.08),
        transparent 30%),

        radial-gradient(circle at bottom left,
        rgba(183,110,93,.08),
        transparent 35%);

    overflow-x:hidden;

}




