/* ============================
   Studio by Gih Mariano
=============================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:var(--white);
    color:var(--dark);
    font-family:'Poppins',sans-serif;
}

.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:80px;

    max-width:1200px;

    margin:auto;

    padding:60px 30px;

}

.hero-text{

    flex:1;

}

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;


}

.subtitle{

    color:#B76E5D;

    letter-spacing:4px;

    text-transform:uppercase;

    margin-bottom:10px;

}

h1{

    font-family:'Cormorant Garamond',serif;

    font-size:76px;

    font-weight:600;

    margin-bottom:10px;

}

h2{

    font-size:22px;

    color:var(--gold);

    font-weight:500;

    margin-bottom:30px;

}

.description{

    font-size:20px;

    line-height:1.8;

    margin-bottom:40px;

}

.button{

    display:inline-block;

    background:#B76E5D;

    color:white;

    text-decoration:none;

    padding:18px 40px;

    border-radius:50px;

    transition:.3s;

}

.button:hover{

    background:#C9A227;

}
